@use 'tools/breakpoints';

#canvas-wrapper,
#canvas-wrapper canvas {
	pointer-events: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	touch-action: none;
}

#canvas-wrapper {
	z-index: -1;
}

html {
	pointer-events: none;
	color: white;

	font-size: calc(100vw / 320);

	@include breakpoints.tablet {
		font-size: calc(100vw / 768);
	}

	@include breakpoints.desktop {
		font-size: calc(100vw / 1024);
	}

	@include breakpoints.large {
		font-size: calc(100vw / 1440);
	}

	@include breakpoints.xlarge {
		font-size: calc(100vw / 1600);
	}
}

#root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 11px;

	width: 100vw;
	height: 100vh;

	#panel {
		position: absolute;
		top: 20px;
		left: 50vw;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 20px;
		width: 400px;
	}

	#panel.hide {
		transition: .5s;
		opacity: 0;
		width: 0;
	}
}

body {
	pointer-events: none;
	overflow: hidden;
}

#app {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#tf-video,
#tf-canvas {
	position: absolute;
	box-sizing: content-box;
	transform: scale(0.5) translateX(-50%) translateY(50%) rotateY(180deg);
	-webkit-transform: scale(0.5) translateX(-50%) translateY(50%) rotateY(180deg);
	-moz-transform: scale(0.5) translateX(-50%) translateY(50%) rotateY(180deg);
	opacity: 1;
	transition: opacity 0.5s ease-in-out;

	&.hide {
		opacity: 0;
	}
}
#tf-video {
	border: 20px solid hsla(0, 0%, 10%, 1);
	border-radius: 10px;
	bottom: 50px;
	left: 50px;
}
#tf-canvas {
	bottom: 60px;
	left: 60px;
}

#mobile {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
	background-color: black;
	font-size: 25px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	padding: 35px;
	display: none;
}

#infos {
	position: absolute;
	top: 20px;
	right: 290px;
	z-index: 199;
	font-size: 15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	opacity: .8;
	text-align: right;
}