@use 'breakpoints';

.dk {
	display: none;

	@include breakpoints.desktop {
		display: block;
	}
}
.mb {
	display: block;

	@include breakpoints.desktop {
		display: none;
	}
}

.hide-mobile {
	@include breakpoints.mobile-only {
		display: none !important;
	}
}

.hide-tablet {
	@include breakpoints.tablet-only {
		display: none !important;
	}
}
.hide-desktop {
	@include breakpoints.desktop {
		display: none !important;
	}
}

.fit {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
